

    .video-player {
      display: flex;
      flex-direction: column;
      width: 800px;
      height: 600px;
      margin: 10px;
      box-shadow: 0 0 10px rgba(0,0,0,1);
    }

    .video-container {
      flex-grow: 1;
    }

    .video-navigation-panel {
      flex-grow: 0;
      background: black;
    }

    .video-button {
      border: none;
      cursor: pointer;
      color: white;
      background: transparent;
      margin: 1px 1px 1px auto;
      font-size: 18px;1
      height: 30px;
      width: 30px;
    }

    .right {
    margin-left: 695px;
    }
